<h1><%= @question.title %></h1>
<%= button_to "delete", @question, :method => :delete %>
<%= form_for @question do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <%= f.submit 'Submit' %>
<% end %>
